h1{
  color: #ffffff;
  background-color: #7612ec;
  text-align: center;
  width: 75%;
  border: 2px solid black;
  letter-spacing: 5px;
}
<!-- -->
h2{
  color: purple;
  background-color: gold;
  text-decoration: red underline;
}
p{
  color: blue;
  font-size: 20px;
  font-size: 1.5em;
  font-family: sans-serif;
}
button{
  background-color: #cac9c9;
  color: red;
}
