h1{
  color: red;
  background-color: yellow;
  font-size: 50px;
  text-align: center;
}
h2{
  color: purple;
  background-color: gold;
}
p{
  color: blue;
  font-size: 20px;
}
button{
  background-color: goldenrod;
  color: red;
}
