#outer {
  height: 150px;
  width: 150px;
  background-color: #f3d411;
  border: 1px solid #000;
  border-radius: 50%;
}

#eye,#eye2 {
  height: 30px;
  width: 30px;
  background-color: #090000;
  border-radius: 50%;
  position: absolute;
  display:inline-block;
  margin: 10px;
  top: 45px;
  left: 35px;
}

#eye2 {
  left:80px;
}

#mouth {
  height: 20px;
  width: 70px;
  background-color: red;
  position: absolute;
  margin: 20px;
  top: 100px;
  left: 30px;
  border-radius: 0 0 50px 50px;
}
